* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* position: relative; */
}

header {
    background-color: green;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    cursor: pointer;
}

.menu div {
    width: 1.5625em;
    height: 0.1875em;
    background-color: #000;
    margin: 0.3125em;
}

ul {
    list-style: none;
    display: none;
    background-color: green;
    position: absolute;
    top: 29px;
    right: 0;
    width: 50%;
    height: calc(100vh - 29px);
}

.show {
    display: block;
}

ul li {
    padding: .625em 0.9375em;
}

section {
    background-color: indigo;
}

nav,
p {
    width: 90%;
    margin: 0 auto;
}

p {
    padding: 1em 0;
}

@media (min-width: 769px) {
    ul {
        display: flex;
        justify-content: space-between;
        position: static;
        width: auto;
        height: auto;
    }

    .menu {
        display: none;
    }

    .show {
        display: flex;
    }
}